@font-face {
    font-family: Yantramanav;
    src: url(fonts/Yantramanav-Medium.ttf);
}

@font-face {
    font-family: DMSans;
    src: url(fonts/DMSans-Regular.ttf);
}

h1 {
    font-family: Yantramanav;
    font-size: 24pt;
}

span, p {
    font-family: DMSans;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 4px;
}

header {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
}